.hidden {
  display: none;
}

.nubFollowupIcon {
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/lifesaver-icon.png');
  background-repeat: no-repeat;
  width: 22px;
  background-size: 13px 13px;
  background-position: 9px 6px;
}

.shiftFbChatSidebar {
  right: 254px !important;
}

.shiftBody {
  padding-right: 254px !important;
}

.shiftFbDockWrapper {
  right: 459px !important;
}

.followupSidebar {
  z-index: 9999;
  position: relative;
  top: 0;
  right: 0;
}

.followupSidebarContainer {
  box-shadow: 1px 0 0 #f0f0f2 inset;
  border-left-color: #ccc;
  border-left: 1px solid rgba(0, 0, 0, .4);
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
}

.followupContactItem {
  width: 250px;
}

.followupContactLink {
    color: #333;
    cursor: default;
    display: block;
    height: 32px;
    line-height: 32px;
    padding: 4px 0;
    position: relative;
    border-bottom: 1px solid #ccc;
}

.followupContactLink:focus, .followupContactLink:hover, li.selected .followupContactLink {
  text-decoration: none;
}

.followupText {
  font-size: 18px;
  margin-right: auto;
  color: #656565;
  margin-left: auto;
  width: 98px;
  line-height: 43px;
}
