.hidden {
  display: none;
}

.nubFollowupIcon {
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/lifesaver-icon-grey.png');
  background-repeat: no-repeat;
  width: 22px;
  background-size: 13px 13px;
  background-position: 9px 6px;
}

.nubFollowupIcon.active {
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/lifesaver-icon-color.png');
}

.shiftFbChatSidebar {
  right: 254px !important;
}

.shiftBody {
  padding-right: 254px !important;
}

.shiftFbDockWrapper {
  right: 459px !important;
}

.followupSidebar {
  z-index: 9999;
  position: relative;
  top: 0;
  right: 0;
}

.followupSidebarContainer {
  box-shadow: 1px 0 0 #f0f0f2 inset;
  background-color: #e9ebee;
  border-left-color: #ccc;
  border-left: 1px solid rgba(0, 0, 0, .4);
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
}

.followupContactItem {
  width: 250px;
}

.followupContactLink {
    color: #333;
    cursor: default;
    display: block;
    height: 32px;
    line-height: 32px;
    padding: 4px 0;
    position: relative;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}

.followupText {
  font-size: 18px;
  margin-right: auto;
  color: #656565;
  margin-left: auto;
  width: 98px;
  line-height: 43px;
}

.followupContactName {
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding-left: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 32px;
}

.followupCloseButton {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
}

.followupCloseButton:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}

.followupDate {
  color: #90949c;
  display: inline-block;
  font-size: 11px;
  line-height: 12px;
  vertical-align: middle;
}